.item{
    width:100%;
    min-height:20vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2rem;
    transition: all 1s ease-out;
    .text{
        font-weight: 300;
        cursor:pointer;
        user-select:none;
        &.dim_text{
            color:black;
        }
        &.light_text{
            color:white;
        }
    }
    &:hover,&:focus{
        .text{
            &.dim_text{
                outline:rgba(0,0,0,0.4) dashed 2px;
                background-color:rgba(0,0,0,0.1);
            }
            &.light_text{
                outline:rgba(255,255,255,0.7) dashed 2px;
                background-color:rgba(255,255,255,0.4);
            }
        }
    }
}

.horizontal{
    .closed{
        width:0px;
    }
    .open{
        width:100vw;
    }
}
.vertical{
    .closed{
        height:0px;
        min-height:0px;
    }
    .open{
        height:100vh;
        min-height:100vh;
    }
}