.color_item_container{
    display:flex;
    min-height:100vh;
    overflow-x:hidden;
}
.horizontal{
    flex-direction:row;
    .webLink{
        left:50px;
        bottom: 50px;
    }
}
.vertical{
    flex-direction:column;
    .webLink{
        left:20px;
        right:20px;
        bottom: 10px;
        justify-content: space-evenly;
    }
}

.clickable{
    text-decoration: none;
    color:white;
}

.webLink{
    position: fixed;
    display: flex;
    background-color: #555B42;
    padding:5px 10px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    &:hover{
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    }
    div{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
}